.sobre-nosotros-page {
  display: flex;
  align-items: flex-start;
  background-color: #1a1a1a;
  flex-direction: row; 
}

.imagen-logo {
  max-width: 92vh;
  height: auto;
  order: 2; 
}


@media (max-width: 768px) {
  .sobre-nosotros-page {
    flex-direction: column; 
    align-items: center;
  }

  .imagen-logo {
    order: 0; 
    max-width: 100%; 
    margin-bottom: 16px;
  }

  .contenido-texto {
    width: 100%;
    padding: 0 16px;
  }
}
